// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$body-bg-green: #76abae;
$banner-bg-green: #3f5b5d;
$banner-text-yellow: #ffffd8;
$card-bg: #e7ebeae6;
$price-bg: #EE99C2;
$check-btn: #62a5a9;
$check-btn-over: #3f696b;

$btn-all: #FF9DCE;
$btn-all-hover: #fd6db5;
$btn-pending: #ff6886;
$btn-pending-hover: #ff2a54;
$btn-confirmed: #FED266;
$btn-confirmed-hover: #fbb80c;
$btn-declined: #5ccef8;
$btn-declined-hover: #1c90ba;
$btn-completed: #A7FFE4;
$btn-completed-hover: #51ffcb;
$btn-cancelled: #BB89C8;
