// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$body-bg-green: #76abae;
$banner-bg-green: #3f5b5d;
$banner-text-yellow: #ffffd8;
$card-bg: #e7ebeae6;
$price-bg: #EE99C2;
$check-btn: #62a5a9;
$check-btn-over: #3f696b;
