<div>
  <% if @booking.status == 1 %>
    <div class="status-container pending"> Pending </div>
  <% elsif @booking.status == 2 %>
    <div class="confirmed"> Confirmed </div>
  <% elsif @booking.status == 3 %>
    <div class="declined"> Declined </div>
  <% end %>
</div>
