.booking-details {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;;
}
.booking-container {
  padding: 20px;
}

.booking-notes {
  height: 100px;
  font-size: 20px;
  background-color: lightyellow;
  padding: 10px;
  margin-top: 20px;
}

.card-container {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
