.booking-details {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}
.booking-container {
  padding: 20px;
  width:50%;
}

.booking-notes {
  width:100%;
  font-size: 20px;
  background-color: lightyellow;
  padding: 10px;
  margin-top: 20px;
}

.booking-card-container {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.booking-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.booking-card > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.booking-card h2 {
  font-weight: bold;
  margin: 0;
}
.booking-card p {
  opacity: .7;
  margin: 0;
}
.booking-card .booking-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.booking-card-infos .booking-card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.test {
  border: 2px red;
  // max-width: 20px;
  // max-height: 20px;
}


.status-container {
  position: absolute;
  margin: 8px;
  top: 0;
  right: 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.pending {
  background-color: yellow;
}

.confirmed {
  background-color: green;
}

.declined {
  background-color: red;
}

.completed {
  background-color: gray;
}

.status-button-container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin: 8px;

}

.status-btn {
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 8px;
}

.bookings-filters {
  display: flex;
  justify-content: center;
  gap: 10px;
}
