.background {
  background-image: url('https://res.cloudinary.com/dpz6vgbvz/image/upload/pexels-ivan-samkov-8504293_ae5l8v.jpg');
  background-size: 800px 800px; /* Fixed size for the photo */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  width: 1000px; /* Fixed width */
  height: 1000px; /* Fixed height */
  position: relative;
  margin: 0 auto; /* Center the photo horizontally */
}

.background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%); /* Gradient fade effect */
  z-index: 1; /* Ensure the gradient is on top of the background image */
  border-radius: 15px; /* Slightly rounded corners */
}

.home {
  position: relative; /* Positioning context for the overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 200px;
  z-index: 2; /* Ensure content is above the gradient */
}

.home h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 4px 8px #dddddd;
}

.home p {
  font-size: 24px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-shadow: 0 4px 8px #dddddd;
}

.splash {
  border: 5px solid;
  padding: 5px;
  background-color: white;
  opacity: 70%;
  border-radius: 15px; /* Slightly rounded edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow for depth */
}

.parent, .sitter {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 2px;
  background-color: white;
  opacity: 100% !important;
  align-items: center;
}
