
.card-container {
  display: flex;
  width: 800px;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  gap: 40px 5%;
}

.bordered-container {
  border: 1px solid #000; /* Adjust color and border size as needed */
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.booking-card {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.booking-card > img {
  height: auto;
  width: 300px;
  object-fit: cover;
}
