.navbar-lewagon {
  justify-content: space-between;
  background: $banner-bg-green;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: $banner-text-yellow;
}

.icon-color {
  color: $banner-text-yellow;
}
