.reviews-container {
  display: flex;
  justify-content: center;
  background: $card-bg;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  margin-left: 48px;
  margin-right: 48px;
  opacity: .7;

  h1 {
    text-align: center;
  }
}
